{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>إنشاء حساب جديد</title>
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
</head>
<body class="day">
    <div style="max-width: 450px; margin: 40px auto;" class="card">
        <h2>إنشاء حساب جديد 👤</h2>
        <hr style="opacity:0.2; margin-bottom:20px;">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">تسجيل الحساب</button>
        </form>
        <br>
        <a href="{% url 'accounts:login' %}">لديك حساب بالفعل؟ سجل دخولك من هنا</a>
    </div>
</body>
</html>